/*this sheet details the functional aspects that should not change from style to style*/

/*Navigation Menu*/

ul.nav li a {
    display: block; 
    text-decoration: none; 
}

ul.nav > li {
    display: inline-block; 
    position: relative; 
}

ul.nav > li ul {
    display: none; 
    position: absolute; 
    left: -10px; 
}

ul.nav > li:hover ul {display: block;}

ul.nav > li ul li {display: block;}
