/*this sheet details the functional aspects that should not change from style to style*/
body {
    display: flex;
    flex-direction: column;/*3 parts, header top, footer bottom, page unique in the center*/
    min-height: 100vh;
}

main img{ max-width:100%; }



/*##wrapper###*/
/*  everything between the header and footer falls inside the wrapper*/
#wrapper {
    /*makes the center of the webpage fill the page so the footer is at the bottom 
        when content is sparse*/
    flex: 1;

    display: flex; /*to allow side-by-side positioning of sub elements like sidebar*/
    /*defaults to row*/
}


#center_space {
    flex: 1;
}

/*##Navigation Menu##*/
#nav_container {
    position: relative;
}

#nav_container li {
    list-style-type: none;
}

#nav_container > li ul {
    display: none; 
}

#nav_container > li:hover ul {display: block;}


/* nav positioning */

/*>nav along top under header*/
nav.nav_top #nav_container > li{
    display: inline-block; /*top header should be in a line along the width*/
}

  /*children lists drop down from the main nav items*/
nav.nav_top #nav_container > li ul{
    position: absolute; 
}

/*>nav inside and to the right of header*/
nav.nav_header #nav_container > li {
    display: inline-block;
}

  /*children lists drop down from the main nav items*/
nav.nav_header #nav_container > li ul{
    position: absolute; 
}

/*>nav along left side*/
nav.nav_left {

}

nav.nav_right {

}


/*##sidebar##*/

#right_space, #left_space {
    max-width: 25%;
}

/*##Footer##*/


/*##Post Specific##*/

#post_nav {
    display: flex;
}

#post_nav span {
    flex:1;
}

span.info_header {
    float: left;
}

span.post_tag {
    padding-left: 4px;
    float: left;
}

span.post_tag:after {
    content: ",";
}

span.post_tag:last-child:after {
    content: "";
}

/*Pagination of posts*/

#pagination_nav {
    margin-left: auto;
    margin-right: auto;
}

#pagination_nav .pag_nav_link {
    padding: 4px;
}

/*mobile specific tweaks*/
@media screen and (max-width: 44em) {
    #right_space, #left_space {
        max-width: 100%;
    }

    /*tweak the actual menu bar list*/
    #nav_container {
        position: absolute;
        left: 0em;
        width: 20em;

        display: none;

        text-decoration: none; 

        background-color: white;
    }

    /**/
    #nav_container li {
        width: 100%;
        display: block !important; /*switches from inline horizontal menu if that is applied.*/
    }

    #mobile_nav_icon {
        position: absolute;
        left: 0;

        z-index: 100;
        display: block;
    }

    /*when input is checked nav container slides in from the side*/ 
    #mobile_nav_control:checked ~ #nav_container {
        display: block;
    }

    /*set hamburger menu icon*/
    #mobile_nav_icon:after {
        content: "\2261";
        position: absolute;
    }

    .mobile_nav_list_icon {
        display: block;
    }

    .mobile_nav_list_icon:after {
        content: "\2261";
    }
}
