body {
    margin:0;
    background: #f5f5f5;
}

/*###Header###*/

#masthead {
    width:100%;
    min-height: 100px;
    background-image: url("/images/style/dark_wood.png");

    line-height: 100px;
}

#masthead_content {
    text-align: center;
}

#masthead_content * {
    margin: 0px;
    color: #bcbcbc;
}


/*###Navigation Bar###*/
nav {
    background-color: #303030;
}

#nav_container {
    margin: 0;
    padding: 0px;
    background-color: #303030;
    line-height: 40px;
}

#nav_container li {
    font-family: 'Century Schoolbook L';
    font-style: italic;
    font-size: 18px;
}

#nav_container > li {
    margin-left: 40px;
}



#nav_container a {
    color: #f7ee6d; 
    padding: 5px; 
    text-decoration: none;
}

#nav_container a:hover {
    color: #c6337a; 
}

#nav_container ul {
    background-color: #303030;
    padding: 0px;

    text-align: center;
    min-width: 100px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

  /*for the mobile nav menu opener/closer*/
/*nav label {
    font-size: 60px;
    margin-left: 4px;
}*/


/*###Main Content###*/

#wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

/*###Sidebar###*/

aside h2 {
    text-align: center;
    margin: 5px;

    color: #bcbcbc;
}

aside > section {
    border: 2px solid black;

    min-height: 100px;
    min-width: 60px; 

    margin-bottom: 10px;

    background-color: #303030;
}

aside > section a {
    color: #f7ee6d;
    text-decoration: none;

    padding-left: 10px;
}

/*###Footer###*/
footer {
    background-image: url("/images/style/dark_wood.png");

    width: 100%;
    min-height: 100px;
    
    padding-top: 20px;
}

footer > * {    
    text-align: center;
    color: #bcbcbc;
}

/*##Mobile specific styling##*/
@media screen and (max-width: 44em) {
    /*set the sub menus so they are inline when oppend instead of overlapping*/
    nav.nav_top #nav_container > li ul {
        position: relative;
    }

    #mobile_nav_icon:after {
        font-size: 50px;
        left: 10;
    }

    /*since our hamburger menu icon is black normally, we change it to white so 
        it doesn't meld with the menu background*/
    #mobile_nav_control:checked + #mobile_nav_icon:after {
        color: #bcbcbc;
    }

    /*setup the sub menu icons to be side arrows*/
    .mobile_nav_list_icon:after {
        content: "\25b6";
        font-size: 20px;
        padding: 6px;
        float:left;
        color: #bcbcbc;
    }

    /*set wrapper to be column*/
    #wrapper {
        flex-direction: column;
    }

    /*Center the aside a bit more*/
    aside {
        margin-left: 5%;
        margin-right: 5%;
    }
}
