doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, maximum-scale=1")
    title #{site.title} - #{title}
    include partials/scripts.pug
    include partials/stylesheets.pug

  body
    include partials/header.pug

    if positioning.nav_position == "top"
        include partials/nav.pug   
 
    div(id="wrapper")

        div(id="left_space")
            if positioning.nav_position == "left"
                include partials/nav.pug

            if positioning.aside_position == "left"
                include partials/sidebar.pug


        div(id="center_space")
            main
                block content

        div(id="right_space")
            if positioning.nav_position == "right"
                include partials/nav.pug
            
            if positioning.aside_position == "right"
                include partials/sidebar.pug

    include partials/footer.pug
