doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, maximum-scale=1")
    title #{site.title} - #{title}
    include partials/scripts.pug
    include partials/stylesheets.pug

  body
    //- Note that if nav bar is set to header, the code for making it so is in the header partial
    include partials/header.pug
 
    if nav_bar.position == "top"
        include partials/nav.pug   
 
    div(id="wrapper")

        div(id="left_space")
            if nav_bar.position == "left"
                include partials/nav.pug

            if sidebar.position == "left"
                include partials/sidebar.pug


        div(id="center_space")
            main
                block content

        div(id="right_space")
            if nav_bar.position == "right"
                include partials/nav.pug
            
            if sidebar.position == "right"
                include partials/sidebar.pug

    include partials/footer.pug
