doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, maximum-scale=1")
    title #{site.title} - #{title}
    include scripts.pug
    include stylesheets.pug

  body
    include header.pug

    if positioning.nav_position == "top"
        include nav.pug   
 
    div(id="wrapper")

        div(id="left_space")
            if positioning.nav_position == "left"
                include nav.pug

            if positioning.aside_position == "left"
                include sidebar.pug


        div(id="center_space")
            main
                !=contents

        div(id="right_space")
            if positioning.nav_position == "right"
                include nav.pug
            
            if positioning.aside_position == "right"
                include sidebar.pug

    include footer.pug
