extends base.pug

block content
    article
        header
            h2 #{title}
            p Pulish Date:
                span(class="date")  #{date}

        !=contents

        div(id="post_nav")
          if previous
              a(href=previous.path.dhref + previous.path.name + ".html") < Older Posts
          span
          if next
              a(href=next.path.dhref + next.path.name + ".html") Newer Posts >
