extends base.pug

block content
    !=contents

    each post in pagination.files
        
       h1 
           a(href=post.path.dhref + post.path.name + ".html") #{post.title}

       //- must pull this variable out of individual posts so the tag_list partial can use it
       - var tag_list = post.tag_list
       include partials/tag_list.pug

       p Summery: #{post.summery_text}

       span 
           a(href=post.path.dhref + post.path.name + ".html") Read More
