header(id="masthead")
    div(id="masthead_content")
        h1 #{site.title}
        if site.subtitle
            p #{site.subtitle}
    
    if nav_bar.position == "header"
        include nav.pug   

