link(rel="icon" href="images/favicon.png" type="image/png")

link(rel="stylesheet" href="/css/function.css")
link(rel="stylesheet" href="/css/style.css")
link(rel="stylesheet" href="/css/example-style.css")

//code highlighter themes can be found at https://cdnjs.com/libraries/prism
link(rel="stylesheet" href="/css/prism.min.css")
link(rel="stylesheet" href="/css/prism-line-numbers.min.css")

// link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600" rel="stylesheet" type="text/css")
